<form novalidate (ngSubmit)="saveOrder()" [formGroup]="orderForm">
  <mat-card>

    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="view-card-title"> {{pageTitle}}</span>
        <span class="title-spacer"></span>
        <mat-card-actions>
          <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit"
            [disabled]='!orderForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/orders']">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-mini-fab class="accent" style="margin-right:10px; background-color:#e07c9e"
            (click)="addProduct($event)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content style="margin: 5 0 5 0px;">
      <div class="form-card">
        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <mat-select placeholder="Select Customer" #customerIdId formControlName="customerId"
                [(value)]="order.customerId">
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                  {{customer.firstname}} {{customer.lastname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Reference No" id="referenceId" type="text"
                placeholder="Reference No. (required)" formControlName="reference" />
              <mat-error *ngIf="displayMessage.reference">
                {{displayMessage.reference}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Amount" id="amountId" type="number" placeholder="Price (required)"
                formControlName="amount" />
              <mat-error *ngIf="displayMessage.amount">
                {{displayMessage.amount}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Quantity" id="quantityId" type="number" placeholder="Quantity (required)"
                formControlName="quantity" />
              <mat-error *ngIf="displayMessage.quantity">
                {{displayMessage.quantity}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput [matDatepicker]="orderpickerId" placeholder="Order date" [value]="order.orderDate">
              <mat-datepicker-toggle matSuffix [for]="orderpickerId"></mat-datepicker-toggle>
              <mat-datepicker #orderpickerId></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput [matDatepicker]="shippedDateId" placeholder="Shipped date" [value]="order.shippedDate">
              <mat-datepicker-toggle matSuffix [for]="shippedDateId"></mat-datepicker-toggle>
              <mat-datepicker #shippedDateId></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">

            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Address" id="addressId" type="text" formControlName="address" disabled />
              <mat-error class="help-block" *ngIf="displayMessage.address">
                {{displayMessage.address}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="City" id="cityId" type="text" formControlName="city" />
              <mat-error class="help-block" *ngIf="displayMessage.city">
                {{displayMessage.city}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Country" id="countryId" type="text" formControlName="country" />
              <mat-error class="help-block" *ngIf="displayMessage.country">
                {{displayMessage.country}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="fieldColspan">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Zipcode" id="zipcodeId" type="text" formControlName="zipcode" />
              <mat-error class="help-block" *ngIf="displayMessage.zipcode">
                {{displayMessage.zipcode}}
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!-- product list -->

      <mat-list *ngIf="order!=null && order.products!=null">
        <h3 mat-subheader>Products</h3>
        <mat-list-item style="background-color:#e7ecf7; padding-bottom:2px; margin-bottom:5px;"
          *ngFor="let product of order.products">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{product.productName}} </h4>
          <button mat-mini-fab style="background-color:lightgrey;float:right;" (click)="openDialog(product)">
            <mat-icon>delete</mat-icon>
          </button>
          <p mat-line> AUD ${{product.unitPrice | number: '0.00' }} </p>
        </mat-list-item>
      </mat-list>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </mat-card-content>
    <!-- </div> -->
  </mat-card>
</form>
