thead {
  color: #337ab7;
}


.table-responsive {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}