<!-- <mat-sidenav-container> -->
<mat-card class='light' style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar>
    <mat-toolbar-row>

      <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/orders/edit/', 0]">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>
      <span class="title-spacer"></span>

      <mat-form-field appearance="standard" class="search-form-fileld">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon>filter_list</mat-icon>
      </mat-form-field>


    </mat-toolbar-row>
  </mat-toolbar>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="reference">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reference No. </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <!-- <a [routerLink]="['/order', order.id]"> -->
        {{order.reference}}
        <!-- </a> -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.products.length}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.customerName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.orderDate | date }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="shippedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Shipped Date </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.shippedDate | date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef style="justify-content:right;">
        <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let order" style="justify-content:right;">
        <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
          [routerLink]="['/orders/edit/', order.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;"
          (click)="openDialog(order.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" [length]="totalAmount">
  </mat-paginator>
</mat-card>
<mat-sidenav class="search-panel" position="end" position="end" dark #sidenav mode="push" opened="false">

  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>search</mat-icon>
      </div>
      <mat-card-title>
        Advanced Search
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:20px;">
    <mat-form-field>
      <input matInput type="text" placeholder="Reference No." name="reference" [(ngModel)]="searchFilter.reference"
        #reference />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Order Date" name="reference" [(ngModel)]="searchFilter.orderDate"
        #reference />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Customer" name="amount" [(ngModel)]="searchFilter.customerName"
        #amount />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Customer Email" name="quantity" [(ngModel)]="searchFilter.customerEmail"
        #quantity />
    </mat-form-field>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="searchOrders(searchFilter);sidenav.toggle()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="resetSearchFilter(sidenav)">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </mat-action-list>
  </mat-card-header>
</mat-sidenav>
<!-- </mat-sidenav-container> -->
