<mat-card class="cardWithShadow overflow-hidden">
    <mat-card-content class="p-b-0">
        <div class="d-flex align-items-center m-b-8">
            <mat-card-title>Monthly Earnings</mat-card-title>
            <div class="m-l-auto">
                <button mat-fab class="icon-48 bg-secondary ">
                    <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
                </button>
            </div>
        </div>
        <h4 class="f-s-24 m-b-6">$6,820</h4>
        <div class="d-flex align-items-center m-t-16">
            <button mat-mini-fab class="bg-light-error text-error shadow-none icon-27 p-0 d-flex align-items-center justify-content-center">
                <i-tabler name="arrow-down-right" class="icon-20 d-flex align-items-center"></i-tabler>
            </button>
            <div class="f-s-14 f-w-600 m-l-12">+9%</div>
            <div class="f-s-14 m-l-4">last year</div>
        </div>
    </mat-card-content>
    <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels" [chart]="monthlyChart.chart"
        [legend]="monthlyChart.legend" [colors]="monthlyChart.colors" [stroke]="monthlyChart.stroke"
        [tooltip]="monthlyChart.tooltip" [plotOptions]="monthlyChart.plotOptions"
        [responsive]="monthlyChart.responsive"></apx-chart>
</mat-card>