<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{pageTitle()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">

    <form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">
      <div class="row">
        <div class="col-lg-12">
          <span class="m-l-16">
            @if(product!= null && product()){
            <img mat-card-avatar class="" [src]='getImage(product())' [style.width.px]='imageWidth'
              [style.height.px]='imageWidth' [style.margin.px]='imageMargin'>
            }
          </span>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Product Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput id="name" type="text" placeholder="First Name (required)" formControlName="name" />
            @if(this.productForm.controls['name']!=null){
            <mat-error *ngIf="productForm.controls['name'].hasError('required')">
              {{ValidatorMessages.name.required}}
            </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Unit In Stock</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput id="unitInStock" type="unitInStock" placeholder="Email " formControlName="unitInStock" />
            @if(this.productForm.controls['unitInStock']!=null){
            <mat-error *ngIf="productForm.controls['unitInStock'].hasError('required')">
              {{ValidatorMessages.unitInStock.required}}
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Unit Price</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput id="price" type="number" placeholder="Unit Price (required)" formControlName="price" />

            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              {{ValidatorMessages.price.required}}
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Retail Price</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput id="retailPrice" type="number" placeholder="Retail Price (required)"
              formControlName="retailPrice" />

            <mat-error *ngIf="productForm.controls['retailPrice'].hasError('required')">
              {{ValidatorMessages.retailPrice.required}}
            </mat-error>

          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12 button-float-right">
        <button mat-flat-button extended color="secondary" class="m-r-8" type="submit"
          [disabled]='!productForm.valid'><mat-icon fontIcon="save"></mat-icon>Submit</button>
        <button mat-stroked-button extended color="warn" [routerLink]="['/product']">
          <mat-icon fontIcon="cancel"></mat-icon>Cancel</button>
      </div>


    </form>
  </mat-card-content>

</mat-card>



<!-- <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div> -->