@if (products.isLoading()) {
  <mat-progress-bar mode="query" />
  } 

  <mat-card >
    <mat-toolbar >
    <mat-toolbar-row>
      <span class="f-w-800 f-s-24"> {{pageTitle}}</span>
      <span class="title-spacer"></span>
      <mat-card-actions>
        <!-- <button mat-mini-fab color="bg-light-primary" class="m-r-16" [routerLink]="['/customer/new']">
          <mat-icon>add</mat-icon>
        </button> -->
        <button mat-mini-fab class="bg-light-secondary" (click)="reload()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-actions>
    </mat-toolbar-row>
  </mat-toolbar>
  
    <mat-toolbar class="m-t-8">
      <mat-toolbar-row>
        <mat-form-field appearance="outline" class="search-form-fileld w-100" color="primary">
          <mat-label>Filter</mat-label>
          <input matInput (input)="query.set($any($event.target).value)" />
  
          <mat-icon>filter_list</mat-icon>
        </mat-form-field>
  
      </mat-toolbar-row>
    </mat-toolbar>
  @if (!products.isLoading()) {

  <div class="card-view">
    @for (product of paginatedList(); track product.id ) {
    <mat-card key="product.id" class="prod-card" appearance="outlined">
    
      <img mat-card-image class="card-img" [src]="product.imageUri" alt="Photo of a Shiba Inu">
      <mat-card-content class="mat-card-content f-w-800">

        <h3>{{product.name}}</h3>

      </mat-card-content>
      <mat-card-actions style="display:flex;justify-content: space-between;">
        <div style="display: inline-flex;">{{product.price | currency}}
          <div class="chips">
            @for (col of product.colors; track $index){
            <div class="chip" [style.background-color]="col"></div>
            }
          </div>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/product/edit/', product.id]">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDialog(product.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-actions>
    </mat-card>
  
    }
  </div>
  }
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" [length]="paginatorLength()"  (page)="handlePageEvent($event)">
  </mat-paginator>

</mat-card>