<app-topstrip></app-topstrip>
@if(!authService.isAuthenticated()){
    <router-outlet></router-outlet>
}

@if(authService.isAuthenticated()){
<mat-sidenav-container class="mainWrapper  blue_theme light-theme" autosize autoFocus dir="ltr">
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->
    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
        (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
        <div class="flex-layout">
            <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
            <ng-scrollbar class="position-relative" style="height: 100%">
                <mat-nav-list class="sidebar-list">
                    @for(item of navItems; track item) {
                    <app-nav-item [item]="item" (notify)="sidenav.toggle()">
                    </app-nav-item>
                    }
                </mat-nav-list>
            </ng-scrollbar>
        </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>
        <!-- ============================================================== -->
        <!-- VerticalHeader -->
        <!-- ============================================================== -->

        <app-header [showToggle]="true" (toggleMobileNav)="sidenav.toggle()" />
        <main class="pageWrapper maxWidth" style="scroll-behavior: smooth;">
            <!-- ============================================================== -->
            <!-- Outlet -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>
}