html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:0;
}

a.active {
  background-color: gray;
}

.main {
  margin: 20px;
  /* display: flex; */
  /* height: 100%;
  align-items: center;
  justify-content: center; */
}

/* #sidenav{
  padding: 20px;
} */

.profile-card {
  padding-bottom: 5px;
}

/* div.avatar {
  background-image: url("/assets/img/avatar0.png");
  background-size: cover;
} */

.avatar {
  background-image: url("/assets/img/avatar0.png");
  background-size: cover;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer {
  max-height: 18px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
