<!-- <mat-sidenav-container> -->

<mat-grid-list [cols]="colNum" [rowHeight]="rowHeight">
  <mat-grid-tile  *ngFor="let infoBox of infoBoxes">
    <mat-card [ngClass]="infoBox.bgClass" class="info-dash-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon matListIcon class="icon">{{infoBox.icon}}</mat-icon>
        </div>
        <mat-card-title>{{infoBox.title}}</mat-card-title>
        <mat-card-subtitle class="subtitle">
          <strong>{{infoBox.subtitle}}</strong>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list [cols]="chartColNum" rowHeight="1.8:1"  style="margin-top:1rem;">
  <!-- style="height: 100%" [rowHeight]="chartRowHeight"-->
  <mat-grid-tile >
    <!-- <mat-card class="dash-card" style="width:95%"> -->
    <mat-card class="dash-card" >
  <mat-card-content class="dash-card-content">
      <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" chartType="line"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  <!-- style="height: 100%" -->
  <mat-grid-tile >
    <!-- <mat-card class="dash-card" style="width:95%"> -->
    <mat-card class="dash-card" >
      <mat-card-content class="dash-card-content">
      <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" chartType="bar"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>


</mat-grid-list>
<!-- </mat-sidenav-container> -->
