<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">Ng Demo App V3 (WIP)</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <!-- Support -->
        <a mat-button class="text-white d-none d-lg-flex" (click)="login()">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
                Login
            </div>
        </a>

        <!-- Templates -->
        <a mat-button class="text-white d-none d-lg-flex" (click)="register()">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="gift" class="icon-20 d-flex"></i-tabler>
                Register
            </div>
        </a>

        <!-- Hire Us -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://github.com/harryho/ng-crm" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="database" class="icon-20 d-flex"></i-tabler>
                GitHub
            </div>
        </a>




    </div>
</div>