<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">Ng Demo App V3</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <!-- Support -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://adminmart.com/support/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="lifebuoy" class="icon-20 d-flex"></i-tabler>
                Login
            </div>
        </a>

        <!-- Templates -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://adminmart.com/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="gift" class="icon-20 d-flex"></i-tabler>
                Register
            </div>
        </a>

        <!-- Hire Us -->
        <a mat-button class="text-white d-none d-lg-flex" href="https://adminmart.com/hire-us/" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <i-tabler name="database" class="icon-20 d-flex"></i-tabler>
                GitHub
            </div>
        </a>

        <!-- Live Preview -->
     

        <!-- Buy Now -->
   
        <mat-menu #beforeMenutow="matMenu" xPosition="before">
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-angular-material-dashboard/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    Angular Preview
                </div>
            </a>
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-vuetify-vue-admin-dashboard/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    VueJs Preview
                </div>
            </a>
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-next-js-admin-dashboard/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    NextJs Preview
                </div>
            </a>
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-react-mui-dashboard-theme/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    React Preview
                </div>
            </a>
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-bootstrap-5-admin-template/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    Bootstrap Preview
                </div>
            </a>
            <a mat-menu-item href="https://adminmart.com/product/NgDemo-tailwind-nextjs-dashboard-template/?ref=56" target="_blank">
                <div class="d-flex align-items-center gap-4">
                    <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
                    Tailwind Preview
                </div>
            </a>
        </mat-menu>

    </div>
</div>