<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{pageTitle()}}</mat-card-title>
  </mat-card-header>


  <mat-card-content class="b-t-1">

    <ol class="stepper" color="primary">
      <li [class]="deliveryStatus.packing">Packing</li>
      <li [class]="deliveryStatus.shipping">Shipping</li>
      <li [class]="deliveryStatus.customs">Customs Clearance</li>
      <li [class]="deliveryStatus.delivered">Delivered</li>
    </ol>

    <form novalidate (ngSubmit)="saveOrder()" [formGroup]="orderForm">

      <div class="row">
        <!-- <mat-grid-list cols="12"> -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Reference No.</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [disabled]="true" placeholder="Reference No" id="referenceId" type="text"
              placeholder="Reference No. " formControlName="reference" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Customer</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput [disabled]="true" placeholder="Reference No" id="customer" type="text"
              placeholder="Customer" formControlName="customer" />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Total Price</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput placeholder="Amount" id="amountId" type="number" placeholder="Price "
              formControlName="amount" />
            <mat-error *ngIf="displayMessage.amount">
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Billing Date</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput [matDatepicker]="orderpickerId" placeholder="Order date" formControlName="orderDate">

            <mat-datepicker-toggle matSuffix [for]="orderpickerId"></mat-datepicker-toggle>
            <mat-datepicker #orderpickerId></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Shipping Date</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput [matDatepicker]="shippedDateId" placeholder="Shipped date" formControlName="shippedDate">

            <mat-datepicker-toggle matSuffix [for]="shippedDateId"></mat-datepicker-toggle>
            <mat-datepicker #shippedDateId></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6">

          <mat-label class="f-w-600 m-b-8 d-block">Street</mat-label> <mat-form-field appearance="outline" class="w-100"
            color="primary">
            <input matInput placeholder="Address" id="addressId" type="text" formControlName="street" />
            <mat-error class="help-block" *ngIf="displayMessage.street">

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">City</mat-label> <mat-form-field appearance="outline" class="w-100"
            color="primary">
            <input matInput placeholder="City" id="cityId" type="text" formControlName="city" />
            <mat-error class="help-block" *ngIf="displayMessage.city">

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Country</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput placeholder="Country" id="countryId" type="text" formControlName="country" />
            <mat-error class="help-block" *ngIf="displayMessage.country">

            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Zipcode</mat-label> <mat-form-field appearance="outline"
            class="w-100" color="primary">
            <input matInput placeholder="Zipcode" id="zipcodeId" type="text" formControlName="zipcode" />
            <mat-error class="help-block" *ngIf="displayMessage.zipcode">
            </mat-error>
          </mat-form-field>
        </div>
        <!-- </mat-grid-list> -->
      </div>
      <!-- </div> -->

      <!-- product list -->

      <h3 mat-subheader>Items</h3>
      <!-- @for( product  of lineItems; track product.id){
        {{product.name}}
      } -->
      <mat-list *ngIf="lineItems!=null" role="list">

        <mat-list-item role="listitem" class="m-b-10" style="vertical-align:bottom;" *ngFor="let product  of lineItems">
          <span style="vertical-align: bottom;display: inline-flex; letter-spacing: ">
            <mat-icon class="m-t-0 m-r-8" mat-list-icon>circle</mat-icon>

            Name: {{product.name}} , Unit Price: {{product.price | currency}} </span>
        </mat-list-item>
      </mat-list>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
      <div class="m-t-12 button-float-right">
        <button mat-flat-button extended color="secondary" class="m-r-8" type="submit"
          [disabled]='!orderForm.valid'><mat-icon fontIcon="save"></mat-icon>Submit</button>
        <button mat-stroked-button extended color="warn" [routerLink]="['/order']">
          <mat-icon fontIcon="cancel"></mat-icon>Cancel</button>
      </div>

    </form>
  </mat-card-content>
  <!-- </div> -->

</mat-card>