thead {
  color: #337ab7;
}

.title-spacer {
  flex: 1 1 auto;
}

.search-form-fileld{
    margin-right: 20px;
}

.table-responsive {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}