.title-spacer {
  flex: 1 1 auto;
}

.view-card-title {
  font-weight: 800;
  font-size: 24px;
}

.example-element-row {
  cursor: pointer;
}

.example-expanded-row {
  background: #fafafa;
}

.example-element-detail-wrapper {
  overflow: hidden;
  display: none;
}

.example-element-detail-wrapper-expanded {
  display: block;
}

.example-element-detail {
  padding: 16px;
}

.search-form-fileld{
  width: 98%;
}