@if (orders.isLoading()) {
<mat-progress-bar mode="query" />
}

<mat-card class='light' style="height: 100%;">
  <mat-toolbar style="background-color: #FFF">
    <mat-toolbar-row>
      <span class="view-card-title"> {{pageTitle}}</span>
      <span class="title-spacer"></span>
      <mat-card-actions>
        <!-- <button mat-mini-fab color="bg-light-primary" class="m-r-16" [routerLink]="['/customer/new']">
          <mat-icon>add</mat-icon>
        </button> -->
        <button mat-mini-fab class="bg-light-secondary" (click)="reload()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-actions>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field appearance="outline" class="search-form-fileld w-100">
        <mat-label>Filter</mat-label>
        <input matInput (input)="query.set($any($event.target).value)" placeholder="Filter by order reference"  />
        <mat-icon>filter_list</mat-icon>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource()" matSort multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XXXXX</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="toggle(element); $event.stopPropagation()"
          class="example-toggle-button" [class.example-toggle-button-expanded]="isExpanded(element)">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </td>
    </ng-container>


    @for (column of displayedColumns; track column) {
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{displayedColumnHeaders[column]}}</th>
      <td mat-cell *matCellDef="let element">
        @if(column=="id"){

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/order/edit/', element[column]]">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDialog(element[column])">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        }
        @else {
          @if(column=="delivery"){
            @if(element.delivery == 'packing') {
            <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.delivery | titlecase }}
            </span>
            }

            @if(element.delivery == 'shipping') {
            <span class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.delivery | titlecase }}
            </span>
            }

            @if(element.delivery == 'customs-clearance') {
            <span class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.delivery.replace('-',' ') |  titlecase }}
            </span>
            }

            @if(element.delivery == 'delivered') {
            <span class="bg-light-success  text-secondary  rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.delivery | titlecase }}
            </span>
            }
          }
          @else{
            {{element[column]}}
          }
     
        }

      </td>
    </ng-container>
    }
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
        <div class="example-element-detail-wrapper"
          [class.example-element-detail-wrapper-expanded]="isExpanded(element)">
          <div class="example-element-detail">
            <div class="example-element-description">
              <h4 class="p-b-10">Shipping Address</h4>
              <div class="row">
                <div class="col-lg-4"><span class="f-w-600">Street:</span></div>
                <div class="col-lg-8">{{element.shipAddress.street}}</div>
                <div class="col-lg-4"><span class="f-w-600">City: </span></div>
                <div class="col-lg-8">{{element.shipAddress.city}}</div>
                <div class="col-lg-4"><span class="f-w-600"> Country:</span> </div>
                <div class="col-lg-8">{{element.shipAddress.country}}</div>
                <div class="col-lg-4"><span class="f-w-600"> Postcode:</span> </div>
                <div class="col-lg-8">{{element.shipAddress.zipcode}}</div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsExpand;" class="example-element-row"
      [class.example-expanded-row]="isExpanded(element)" (click)="toggle(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" >
  </mat-paginator>

</mat-card>