/* You can add global styles to this file, and also import other style files */

html,
body {
//   height: 100%;
// }

// body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
  color: #00BCD4;
}



.progress-bar {
  z-index: 2;
}

.search-panel {
  max-width: 320px;
  background-color: rgb(244, 244, 247);
}
