<!-- <mat-sidenav-container> -->
<mat-card class='light' style="height: 100%;">

  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar class="primary">
    <mat-toolbar-row>
      <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/customers/edit/', 0]">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>

      <span class="title-spacer"></span>
      <mat-form-field appearance="standard" class="search-form-fileld">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon>filter_list</mat-icon>
      </mat-form-field>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <!-- <a [routerLink]="['/customer', customer.id]"> -->
        <img *ngIf='customer.avatar' [src]='customer.avatar' [title]='customer.firstname | uppercase'
          [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
        <!-- </a> -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.firstname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.lastname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rewards">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rewards </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.rewards | number }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="membership">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Membershiop</mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <span *ngIf="!customer.membership" style="color:green">
          <mat-icon>check_circle</mat-icon>
        </span>
        <span *ngIf="customer.membership" style="color:darkgrey">
          <mat-icon>highlight_off</mat-icon>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef style="justify-content:right;">
        <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let customer" style="justify-content:right;">
        <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
          [routerLink]="['/customers/edit/', customer.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;"
          (click)="openDialog(customer.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</mat-card>

<mat-sidenav class="search-panel" position="end" dark #sidenav mode="push" opened="false">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <mat-icon>search</mat-icon>
      </div>
      <mat-card-title>
        Advanced Search
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:50px;">
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput appearance="standard" placeholder="First Name" name="firstname"
        [(ngModel)]="searchFilter.firstname" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" name="reference" [(ngModel)]="searchFilter.customerDate" #reference />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Mobile</mat-label>
      <input matInput appearance="standard" placeholder="Mobile" name="amount" [(ngModel)]="searchFilter.customerName"
        #amount />
    </mat-form-field>

  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-action-list>
      <button mat-raised-button style="color:lightgrey; background-color:darkgreen; margin:5px;"
        (click)="searchCustomers(searchFilter);sidenav.toggle()">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button style="color:lightgrey; background-color:darkred;margin:5px;"
        (click)="resetSearchFilter(sidenav)">
        <mat-icon>refresh</mat-icon>Reset
      </button>
    </mat-action-list>
  </mat-card-header>
</mat-sidenav>
<!-- </mat-sidenav-container> -->
