<mat-sidenav-container>
  <mat-card class='light' style="height: 100%;">

    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-toolbar>
      <mat-toolbar-row>
        <!-- <h1> {{pageTitle}}</h1> -->
        <mat-form-field>
          <mat-placeholder>
            <mat-icon>subject</mat-icon>
            <b> Filter</b>
          </mat-placeholder>
          <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <span class="title-spacer"></span>
        <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/customerEdit', 0]">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="avatar">

        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let customer">
          <a [routerLink]="['/customer', customer.id]">
            <img *ngIf='customer.avatar' [src]='customer.avatar' [title]='customer.firstName | uppercase' [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'>
          </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="rewards">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.rewards | number }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="membership">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let customer">
          <span *ngIf="!customer.membership" style="color:green">
            <mat-icon>check_circle</mat-icon>
          </span>
          <span *ngIf="customer.membership" style="color:darkgrey">
            <mat-icon>highlight_off</mat-icon>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="justify-content:right;">
          <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let customer" style="justify-content:right;">
          <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;" [routerLink]="['/customerEdit', customer.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;" (click)="openDialog(customer.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
    </mat-paginator>
  </mat-card>


  <mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-subtitle>

          <button mat-raised-button style="color:lightgrey; background-color:darkgreen" (click)="searchCustomers(searchFilter);sidenav.toggle()">
            <mat-icon>search</mat-icon>Search </button>

          <button mat-raised-button style="color:lightgrey; background-color:darkred" (click)="resetSearchFilter(sidenav)">
            <mat-icon>refresh</mat-icon>Reset</button>

        </mat-card-subtitle>
      </mat-card-header>

    </mat-card>
    <mat-nav-list style="margin-left:20px;">
      <mat-form-field>
        <input matInput type="text" placeholder="Reference No." style="width:200px;" name="reference" [(ngModel)]="searchFilter.reference"
          #reference />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Order Date" style="width:200px;" name="reference" [(ngModel)]="searchFilter.customerDate"
          #reference />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Customer" style="width:200px;" name="amount" [(ngModel)]="searchFilter.customerName"
          #amount />
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
