html .blue_theme {
  --mat-sys-primary: rgb(93, 135, 255);
  --mat-sys-primary-fixed-dim: rgb(93, 135, 255, 0.15);
  --mat-sys-secondary: rgb(68, 183, 247);
  --mat-sys-secondary-fixed-dim: rgb(68, 183, 247, 0.15);
}